* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(img/djungel2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
}

/* root-color */
:root {
    --linkbackground: rgba(28, 217, 28, 0.629);
    --searchfieldcolor: rgba(28, 217, 28, 0.956);
    --hovercolor: rgb(151, 190, 229);
    --modalcolor: rgba(28, 217, 28, 0.8)
}

/* navigation bar */
.header {
    background-image: url(img/coctailshome.3.jpg);
    width: 100%;
    height: 300px;
    opacity: 0.85;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
}

.logo {
    margin: 15px;
    width: 40%;
    height: auto;
    border-radius: 100%;
    position: relative;
    z-index: -3; 

}

.navBar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navMenu {
    margin-top: -8%;
    height: 308px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.navItem {
    list-style: none;  
}

.navItem:hover {
    transition: all 20ms ease-in-out;
    scale: 1.2;
}

.navLink {
    color: white;
    text-decoration: none;
    transition: 0.7s ease;
    font-size: 1.5rem;
    font-weight: 200;
    background-color: var(--linkbackground);
    border-radius: 20px;
    padding: 0 10px;
   

}

.navLink:hover {
    color: var(--hovercolor);
}

/* hamburger menyn*/
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 45px;
    height: 4px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*search form */
.search-form {
    margin-top: -7%;
    display: flex;
    margin-left: 35%;
    gap: 30px;
    border-radius: 5px 5px 5px 10px;
}

input {
    font-size: 1em;
    color: black;
    width: 300px;
    background-color: var(--searchfieldcolor);
    border-radius: 20px;
    padding: 5px 10px;
    border: 0;
}

.drinkBtn {
    font-size: 1em;
    color: white;
    width: 100px;
    background-color: var(--searchfieldcolor);
    border-radius: 20px;
    padding: 5px 10px;
    border: 0;
}

.drinkRecipe {
    font-size: 20px;
}

/*Modal About-us, Contact*/
#about-us-div,
#contact-div {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    text-align: center;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;

    background-color: var(--modalcolor);
    background-color: rgba(97, 138, 103, 0.4);
}

.modalDIV {
    display: flex;

   text-align: center;
   justify-content: center;

   margin-top: 5%;
   font-size: 20px;



;
}

.modalLabel {
    list-style: none;
    font-weight: bold;
    ;
}

.modalLabel>a {
    color: blue
}



.about-us-class,
.contact-class {
    background-color: var(--modalcolor);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
    height: 50% auto;

}

#closeaboutus,
#closecontact {
    float: right;
    color: black;
    font-size: 28px;
    font-weight: bold;
}

#closeaboutus:hover,
#closeaboutus:focus,
#closecontact:hover,
#closecontact:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.about-us-class > p {
    margin-top: 15%;
}
#modalForm {

    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#modalForm > input {
    background-color: whitesmoke;
}
#modalForm > label{
    margin: 10px
}
#modalForm > button{
    background-color: lightgray;
    width: 35%;
    margin: 5px;
    border-radius: 20px;
}
#modalForm > button:hover{
    scale: 1.2;
}

#signUP{
    animation: scale 1.5 1s alternate infinite;
}
/*drinkBtn2 is a random cocktail btn*/
.randomDrinkBtn2 {
    display: none;
}

/* main style drinks*/
main {
    display: flex;
    flex-wrap: wrap;

    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

article {
    text-align: center;
    margin-top: 2rem;
    padding: 20px 40px 40px 40px;
    background: rgba(255, 255, 255, 0.466);
    max-width: 50em;
}

.homePageImg {
    min-width: 250px;
    min-height: 250px;
    max-width: 400px;
    max-height: 400px;
}

/* media */
@media(max-width: 1502px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--linkbackground);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-top: -6%;
    }

    .navItem {
        margin: 16px 0;
    }

    .navMenu.active {
        left: 0;
    }

}

.randomDrinkBtn2 {
    display: block;
}

.scrollbutton {
    font-size: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
    color: rgba(28, 217, 28, 0.629);

}

.scrollbutton:hover {
    transform: scale(1.4);
    color: rgba(28, 217, 28, 0.8);


}

.homePageDrinks {
    border-radius: 8px;
}

.webName:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes scale{
    0%{
        scale: 100%;
    }
    100%{
        scale: 0%;
    }
}